@font-face {
    font-family: 'YanoljaFont'; /* 폰트 이름 */
    src: url('Jalnan2.otf');
}

@font-face {
    font-family: 'WantedFont';
    src: url("WantedFont.otf");
}

@font-face {
    font-family: 'MoneyFont';
    src: url("MoneyFont.ttf");
}

@font-face {
    font-family: 'MoneyFontR';
    src: url("MoneyFont_R.ttf");
}

@font-face {
    font-family: 'NonnoFont';
    src: url("NonnoFont.otf");
}
